{% extends "user.html" %}
{% block content %}


<div class="container-fluid">

  <div class="row">

    <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">

      <div class="m-l-25 m-r--38 m-lr-0-xl">

        <div class="wrap-table-shopping-cart">

          <table class="table-shopping-cart">

            <tbody><tr class="table_head">

              <th class="column-1">Image</th>

              <th class="column-2">Name</th>

              <th class="column-3">Price</th>

              <th class="column-4">Quantity</th>

              <th class="column-5">Total</th>

              <th></th>


            </tr>

           {% for i in data %}

            <tr class="table_row">

              <td class="column-1">

                <div class="how-itemcart1">

                  <img src="{{i.userpro.image1.url}}" alt="IMG" style="height: 50px;width: 60px;">

                </div>

              </td>

              <td class="column-2">{{i.userpro.name1}}</td>

              <td class="column-3">${{i.userpro.price1}}</td>

              <td class="column-4">

                <div class="wrap-num-product flex-w m-l-auto m-r-0">

                  <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">

                    <i class="fs-16 zmdi zmdi-minus"></i>

                  </div>


                  <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="{{i.quantity}}">


                  <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">

                    <i class="fs-16 zmdi zmdi-plus"></i>

                  </div>

                </div>

              </td>

              <td class="column-5">{{i.total}}</td>

              <td><a href="{% url 'remove' id=i.id %}"><button class="btn btn-success btn-primary" style="background-color:skyblue;color: black;">DELETE</button></a></td>

            </tr>

           {% endfor %}

          </tbody></table>

        </div>


        


          

           
          </div>

        </div>

      </div>

    </div>


    <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">

      <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">

        <h4 class="mtext-109 cl2 p-b-30">

          Cart Totals


        <div class="flex-w flex-t p-t-27 p-b-33">

          <div class="size-208">

            <span class="mtext-101 cl2">

              Total:

            </span>

          </div>


          <div class="size-209 p-t-1">

            <span class="mtext-110 cl2">

              $.{{a.total__sum}}

            </span>

          </div>

        </div>
         
        <a href="{% url 'checkouts' %}"><button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">

            Proceed to Checkout

            </button>
        </a>


      </div>

    </div>

  </div>

</div>





{% endblock %}
