{% extends 'admin.html'%}
{% block content %}
    <!-- /.card-header -->
    <!-- form start -->
    <form action="{% url 'productinfo' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body">
        <div class="form-group">

          <label for="name1">PRODUCT NAME</label>
          <input type="text" class="form-control" id="name1" name="name1" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="stock">PRODUCT DESCRIPTION</label>
          <input type="text" class="form-control" id="description1" name="description1" placeholder="Enter discription">
        </div>
        <div class="form-group">
          <label for="description">PRODUCT PRICE</label>
          <input type="text" class="form-control" id="price1" name="price1" placeholder="Enter price">
        </div>

        <label for="exampleSelectRounded0">Categories</label>
        <select class="custom-select rounded-0" id="exampleSelectRounded0" name="categories">
        {% for i in data %}
        <option>{{i.name}}</option>
        {% endfor %}
      </select>

        <div class="form-group">
          <label for="exampleInputFile"></label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="image1" name="image1">
              <label class="custom-file-label" for="image1">Upload image</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">Upload</span>
            </div>
          </div>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </div>
    </form>
  </div>
{% endblock %}
