{% extends 'admin.html'%}
{% block content %}
<div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th>PRODUCT NAME</th>
          <th>PRODUCT DESCRIPTION</th>
          <th>PRODUCT PRICE</th>
          <th>PRODUCT IMAGE</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
          {% for i in data1 %}
        <tr>
          <td>{{i.name1}}</td>
          <td>{{i.description1}}</td>
          <td>{{i.price1}}</td> 
          <td><img src="{{i.image1.url}}" style="width: 100px;height: 60px;"></td>
          <td><a href="{% url 'edit1' id=i.id %}"><button style="background-color:skyblue;">EDIT</button></a></td>
          <td><a href="{% url 'delete1' id=i.id %}"><button style="background-color:skyblue;">DELETE</button></a></td>              
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endblock %}